{% extends 'base.html.twig' %}

{% block title %}New Accounts{% endblock %}

{% block body %}
    <h1>Create new Accounts</h1>

    {{ include('accounts/_form.html.twig') }}

    <a href="{{ path('accounts_index') }}">back to list</a>
{% endblock %}
