{% extends 'base.html.twig' %}

{% block title %}Restablecer password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 mt-3">
                <h1 class="h3 mb-3 font-weight-normal">Restablecer password</h1>

                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Restablecer</button>
                {{ form_end(resetForm) }}

            </div>
        </div>
    </div>
{% endblock %}
