<form method="post" action="{{ path('items_delete', {'objectId': item.objectId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.objectId) }}">
    <button class="btn">Delete</button>
</form>
